<li class="order-item">
  <h3><%= order.name %></h3>
  <div class="author-name-wrapper order-item-default">
    <p class="author-name-label">Автор:</p>
    <p class='author-name-value'><%= order.author %></h4>
  </div>
  <div class="status-wrapper order-item-default">
    <p class="status-label">Статус:</p>
    <p class='status-value'><%= order.status %></h4>
  </div>
</li>
