<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/style.css" rel="stylesheet" />

    <title>Document</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Все заказы</h1>
        <button class="create-new-order">Создать</button>
      </div>

      <ul class="list">
        <% orders.forEach((order) => { %> <%- include('components/listItem',
        {order}); %> <% }) %>
      </ul>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const creteNewOrderButton = document.querySelector(".create-new-order");

      creteNewOrderButton.addEventListener("click", () => {
        window.location.replace(window.location.origin + "/create_order");
      });
    });
  </script>
</html>
