<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/style.css" rel="stylesheet" />

    <title>Document</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Все заказы</h1>
        <button class="create-new-order">Создать</button>
      </div>

      <ul class="list">
        <% orders.forEach((order) => { %> <%- include('components/listItem',
        {order}); %> <% }) %>
      </ul>
    </div>
  </body>

  <script>
    const orders = <%- JSON.stringify(orders) %>;
    document.addEventListener("DOMContentLoaded", () => {
      const creteNewOrderButton = document.querySelector(".create-new-order");
      const changeStatusButtons = document.querySelectorAll(
        ".change-status-button"
      );

      console.log(window.location.origin)

      Array.from(changeStatusButtons).forEach((node, index) => {
        node.addEventListener("click", () => {
          window.location.replace(window.location.origin + `/change-order-status-page/${orders[index].id}`)
        });
      });

      creteNewOrderButton.addEventListener("click", () => {
        window.location.replace(window.location.origin + "/create-order-page");
      });
    });
  </script>
</html>
